.flex-disappear {
  background-color: yellow;
  font-size: medium;
  height: 30px;
  text-align: center;
}

header {
  text-align: center;
  background-color: lightgreen;
  height: 200px;
}

nav {
  background-color: black;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

nav a {
  color: white;
  padding: 20px;
}

@media screen and (max-width: 500px) {
  section {
    display: flex;
     }
}

.about {
  background-color: lightgrey;
  width: 100%;
}

.title {
  background-color: rgb(22, 238, 58);
  width: 100%;
}
@media screen and (min-width: 500px) {
  .flex-disappear {
    display: none;
  }
}


