.grid-container{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "header header"
    "sidebar content"
    "sidebar content"
    "sidebar content"
    "footer footer"
 
}

.grid-item{
    background-color: red;
    color: aqua;
    text-align: center;
    
}

.grid-item-1{
    background-image: url(https://images.freeimages.com/images/small-previews/d04/facebook-header-size-clouds-1-1140834.jpg);
    color: black;
    grid-area: header;
}

.grid-item-2{
display: flex;
    justify-content: space-between;
    grid-area: sidebar;
}

.sidebar{
    
}

.grid-item-3{
    grid-area: content;
}

.grid-item-5{
    grid-area: footer;
}